/*-------- General -----------*/
/*-------- Simon Font --------*/
@import url('https://fonts.googleapis.com/css?family=Audiowide');
/*-------- Display Font ------*/
@import url('https://fonts.googleapis.com/css?family=Wallpoet');

/*-------- Heading --------- */

.game-title {
    width: 100%;
    font-family: 'Audiowide', cursive;
    font-size: 40pt;
    text-align: center;
    font-weight: 100;
}

.start-btn1 {
    font-family: 'Audiowide', cursive;
    font-size: 20pt;
    text-align: center;
    font-style: italic;
    font-weight: 100;  
    color: red;
}

.start-btn {
    width: 100%;
    font-family: 'Audiowide', cursive;
    font-size: 20pt;
    text-align: center;
    font-weight: 100;    
}

/*-------- Section --------*/
/*-------- Game wrapper -------*/ 
#wrapper {
    text-align: center;
}

#b-ground {
    margin: 0 auto;
    max-width: 750px;
}

.b-green {
    background-color: green;
}

.b-red {
    background-color: red;
}

.blank {
    background-color: white;
}
/*----- Pad section --------*/ 
.row {
    width: 100%;
}

.game-container {
    height: 400px;
    width: 60%;
    margin: 20%;
}

.pad-container {
    width: 100%;
}

.game-box {
    width: 40%;
    height : 150px;
    margin:5%;
    border-width: 1px;
    border-style: solid
    
}

#light0 {
    border-color: yellow ;
    border-radius: 40px 0px 40px 0px;
}

#light1 {
    border-color: blue ;
    border-radius: 0px 40px 0px 40px;
}
#light2 {
    border-color: red ;
    border-radius: 0px 40px 0px 40px;
}
#light3 {
    border-color: green ;
    border-radius: 40px 0px 40px 0px;
}

.flasher {
    width: 40%;
    height : 150px;
    margin:5%;
    border-width: 1px;
    border-style: solid;
    background-color: black ;
}
.flasher-green {
    width: 40%;
    height : 150px;
    margin:5%;
    border-width: 1px;
    border-style: solid;
    background-color: green ;
}

/*----- Score Board --------- */
.score-container {
    width: 100%;
}
#game-round {
    width:100%;
    text-align: center;
}

/*-------- Footer ---------- */