/*-------- General -----------*/
/*-------- Simon Font --------*/
@import url('https://fonts.googleapis.com/css?family=Audiowide');
/*-------- Display Font ------*/
@import url('https://fonts.googleapis.com/css?family=Wallpoet');

/*-------- Heading --------- */

.game-title {
    width: 100%;
    font-family: 'Audiowide', cursive;
    font-size: 40pt;
    text-align: center;
    font-weight: 100;
}

.start-btn {
    width: 100%;
    font-family: 'Audiowide', cursive;
    font-size: 20pt;
    text-align: center;
    font-weight: 100;    
}

/*-------- Section -------- */

.game-container {
    position: relative;
    height: 600px;
    width: 600px;
    margin-left: 10%;
    margin-right: 10%;
}

.flex-container {   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-box {
    width: 150px;
    height : 150px;
    margin:25px;
    border-width: 1px;
    border-style: solid
    
}

.box-yellow {
    border-color: yellow ;
    border-radius: 40px 0px 40px 0px;
}

.box-blue {
    border-color: blue ;
    border-radius: 0px 40px 0px 40px;
}
.box-red {
    border-color: red ;
    border-radius: 0px 40px 0px 40px;
}
.box-green {
    border-color: green ;
    border-radius: 40px 0px 40px 0px;
}

#lit-square {
    background-color: black ;
}

/*.score-board {
    position: absolute;
    background-color:#ccc6ba ;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    z-index: +1;
    left:150px;
    top:150px;
}*/

/*-------- Footer ---------- */